@font-face {
  font-family: "iconfont"; /* Project id 5191290 */
  src: url('iconfont.woff2?t=1780737507126') format('woff2'),
       url('iconfont.woff?t=1780737507126') format('woff'),
       url('iconfont.ttf?t=1780737507126') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuyi:before {
  content: "\e61e";
}

.icon-xiugai:before {
  content: "\e700";
}

.icon-sousuo:before {
  content: "\e619";
}

.icon-tongzhi:before {
  content: "\e69b";
}

.icon-xinzeng-xianxing:before {
  content: "\e633";
}

.icon-shanchu:before {
  content: "\ed1b";
}

.icon-shuaxin-F:before {
  content: "\e616";
}

.icon-yuangongguanli:before {
  content: "\e6be";
}

.icon-xinzengyuangong:before {
  content: "\e603";
}

.icon-dianyingshipin:before {
  content: "\e60e";
}

.icon-yunyingfenxi:before {
  content: "\e632";
}

.icon-yonghu:before {
  content: "\e64e";
}

.icon-xs_yichangdingdan:before {
  content: "\e600";
}

.icon-6:before {
  content: "\e61b";
}

.icon-paipian:before {
  content: "\e601";
}

.icon-haibaofenxiang:before {
  content: "\e63b";
}

.icon-dianyingliebiao:before {
  content: "\e647";
}

.icon-yuangong:before {
  content: "\ea3f";
}

.icon-meirigongzuo:before {
  content: "\e642";
}

